.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
.popup_opened {
  visibility: visible;
  opacity: 1;
  z-index: 10;
  transition: opacity 1s;
  display: flex;
}

.profiles__buttons-edit {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  background-image: url('../../images/pen.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-size: 10px 10px;
  background-position: center;
  align-self: center;
  box-sizing: border-box; 
  margin: 37px auto auto 19px;
  padding: 0;
}
@media screen and (max-width: 320px) {
  .profiles__buttons-edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    margin: 37px 38px auto 15.25px;
  }
}
.popup__buttons-close {
  position: absolute;
  right: 0;
  top: -36px;
  background-image: url('../../images/CloseIcon.svg');
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  width: 20px;
  height: 20px;
}
.popup__inputs {
  margin-bottom: 28px;
  outline: 0;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  padding-left: 0;
  width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
@media screen and (max-width: 550px) {
  .popup__inputs {
    max-width: 238px;
  }
}
.popup__buttons-save {
  background-color: black;
  color: white;
  width: 358px;
  height: 50px;
  margin-top: 18px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: 0;
  border-radius: 2px;
  padding: 0;
}
@media screen and (max-width: 550px) {
  .popup__inputs {
    max-width: 238px;
    height: 46px;
  }
}
.pic_rectangle {
  width: 150px;
  height: 50px;
  border: 2px solid;
  box-sizing: border-box;
  margin: 35px 0 35px auto;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../images/plus.svg');
}
@media screen and (max-width: 320px) {
  .pic_rectangle {
    width: 282px;
    margin: 0 auto;
  }
}
.profiles__buttons-add {
  background-color: transparent;
  margin: 0 auto;
  margin: 35px 0 35px auto;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-image: url('../../images/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  padding: 0;
}
@media screen and (max-width: 320px) {
  .profiles__buttons-add {
    width: 282px;
    margin: 36px auto 0 auto;
  }
}