.profile__edit {
  display: flex;
  flex-direction: row;
  margin: 0 0 0px 30px;
  padding-top: 20px;
  padding-bottom: 0px;
  gap: 20px;
}

@media screen and (max-width: 1000px) {
  .profile__edit {
    width: 80%;
    padding: 0;
    gap: 10px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .profile__edit {
    max-width: 282px;
    padding-top: 26px;
    padding-left: 25px;
    gap: 10px;
    margin: 0 auto;
  }
}
