.header__logo {
  max-width: 142px;
  padding-top: 45px;
  padding-bottom: 41px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 103.74px;
    padding-top: 0;
    padding-bottom: 31.6px;
    margin-left: 27px;
  }
}
