.card__group {
  display: flex;
  max-width: 246px;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 21px;
}

@media screen and (max-width: 1279px) {
  .card__group {
    max-width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .card__group {
    max-width: 246px;
  }
}
