.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 115%;
  margin: 0 0 0 30px;
  padding-top: 25px;
  padding-bottom: 10px;
}
@media screen and (max-width: 320px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}