.elements__button {
  background-color: transparent;
  background-image: url("../../../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  padding: 0;
  border-style: none;
  align-self: center;
  cursor: pointer;
  margin-right: 6px;
  margin-top: 3px;
}

.elements__button:hover {
  opacity: 0.5;
}

.elements__button:active {
  background-image: url('../../../images/blackHeart.svg');
  opacity: 1;
}
