.popup__button-close {
  position: absolute;
  right: 0;
  top: -36px;
  background-image: url("../../../images/CloseIcon.svg");
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.popup__button-close:hover {
  opacity: 0.6;
}
