.card__image {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-position: center;
  width: 100%;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 320px) {
  .card__image {
    max-width: 282px;
  }
}

.card__image:hover {
  cursor: pointer;
}
