.card {
  max-width: 282px;
  min-height: 361px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .card {
    max-width: 100%;
    width: 100%;
    min-height: auto;
  }
}

@media screen and (max-width: 320px) {
  .card {
    max-width: 282px;
    min-height: 361px;
  }
}

@media screen and (max-width: 319px) {
  .card {
    max-width: 282px;
    min-height: auto;
  }
}

.card__delete-button {
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../../../images/Trash.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  border-style: none;
  align-self: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: .5;
}
